:root {
  --branding-color: #ffc107;
  --primary-color: #f4e8ef;
  --heading-font-family: 'Playfair Display', serif;
  --default-font-family: 'Poppins';
}

body {
  background: #f4e8ef;
}

button .btn {
  background-color: #ffc107;
  padding: 15px 60px;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px 40px;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-size: 44px;
}

p{
  font-size: 24px;
}


nav .cmlogo {
  max-width: 100px;
  height: 60px;
}

navbar .navbar-name{
  font-weight: 400;
}

main .container{
 margin: 120px 30px;
 background-color: transparent;

}
main h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

hero p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 22px;
}
