:root {
  --branding-color: #ffc107;
  --primary-color: #f4e8ef;
  --heading-font-family: 'Playfair Display';
  --default-font-family: 'Poppins';
}

body {
  background: #f4e8ef;
}

button {
  background-color: #ffc107;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  margin: 10px 40px;
  text-decoration: none!important;
  border-color: #ffc107;
}

h1,
h2 {
  font-family: var(--heading-font-family);
  font-size: 44px;
}

p{
  font-size: 24px;
}

nav .cmlogo {
  max-width: 100px;
  height: 60px;
}

.navbar-name {
 font-weight: 600;
 font-size: 24px;
 margin-left: 10px;
}
nav .container{
  margin: 10px 20px;
}

navbar .li {
  font-size: 22px;
}

.nav-link a {
  text-align: right;
}

main .container{
 margin: 120px 40px;
 background-color: transparent;

}
main h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

hero p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.image {
  display: flex;
}
@media (max-width:900px){

}
